<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online_study.content.mapper.TeachplanMapper">

    <resultMap id="BaseResultMap" type="com.online_study.content.model.po.Teachplan">
            <id property="id" column="id" />
            <result property="pname" column="pname" />
            <result property="parentid" column="parentid" />
            <result property="grade" column="grade" />
            <result property="mediaType" column="media_type" />
            <result property="startTime" column="start_time" />
            <result property="endTime" column="end_time" />
            <result property="description" column="description" />
            <result property="timelength" column="timelength" />
            <result property="orderby" column="orderby" />
            <result property="courseId" column="course_id" />
            <result property="coursePubId" column="course_pub_id" />
            <result property="status" column="status" />
            <result property="isPreview" column="is_preview" />
            <result property="createDate" column="create_date" />
            <result property="changeDate" column="change_date" />
    </resultMap>

    <!-- 查询到的字段名和TeachPlanDto的属性名无法自动映射，要单独再映射；也可以在类中用@TableField映射-->
    <resultMap id="treeNodeResultMap" type="com.online_study.content.model.dto.TeachPlanDto">
        <!-- 一级数据映射 -->
        <id     column="one_id"         property="id" />
        <result column="one_pname"      property="pname" />
        <result column="one_parentid"   property="parentid" />
        <result column="one_grade"      property="grade" />
        <result column="one_mediaType"  property="mediaType" />
        <result column="one_stratTime"  property="startTime" />
        <result column="one_endTime"    property="endTime" />
        <result column="one_orderby"    property="orderby" />
        <result column="one_courseId"   property="courseId" />
        <result column="one_coursePubId" property="coursePubId" />
        <!-- 一级中包含多个二级数据 -->
        <collection property="teachPlanTreeNodes" ofType="com.online_study.content.model.dto.TeachPlanDto" javaType="List">
            <!-- 二级数据映射 -->
            <id     column="two_id"           property="id" />
            <result column="two_pname"        property="pname" />
            <result column="two_parentid"     property="parentid" />
            <result column="two_grade"        property="grade" />
            <result column="two_mediaType"    property="mediaType" />
            <result column="two_stratTime"    property="startTime" />
            <result column="two_endTime"      property="endTime" />
            <result column="two_orderby"      property="orderby" />
            <result column="two_courseId"     property="courseId" />
            <result column="two_coursePubId"  property="coursePubId" />
            <association property="teachplanMedia" javaType="com.online_study.content.model.po.TeachplanMedia">
                <id column="teachplanMeidaId"   property="id" />
                <result column="mediaId"            property="mediaId" />
                <result column="two_id"             property="teachplanId" />
                <result column="two_courseId"       property="courseId" />
                <result column="mediaFilename"      property="mediaFilename" />
            </association>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,pname,parentid,grade,media_type,start_time,
        end_time,description,timelength,orderby,course_id,
        course_pub_id,status,is_preview,create_date,change_date
    </sql>

    <select id="selectTreeNodes" parameterType="Long" resultMap="treeNodeResultMap">
        select
            one.id             one_id,
            one.pname          one_pname,
            one.parentid       one_parentid,
            one.grade          one_grade,
            one.media_type     one_mediaType,
            one.start_time     one_stratTime,
            one.end_time       one_endTime,
            one.orderby        one_orderby,
            one.course_id      one_courseId,
            one.course_pub_id  one_coursePubId,
            two.id             two_id,
            two.pname          two_pname,
            two.parentid       two_parentid,
            two.grade          two_grade,
            two.media_type     two_mediaType,
            two.start_time     two_stratTime,
            two.end_time       two_endTime,
            two.orderby        two_orderby,
            two.course_id      two_courseId,
            two.course_pub_id  two_coursePubId,
            m1.media_fileName  mediaFilename,
            m1.id              teachplanMeidaId,
            m1.media_id        mediaId

        from teachplan one
                 left join teachplan two on two.parentid=one.id
                 left join teachplan_media m1 on two.id=m1.teachplan_id
        where one.parentid=0 and one.course_id=#{courseId}
        order by one.orderby, two.orderby
    </select>

    <select id="selectMaxOrderby" resultType="java.lang.Integer">
        select max(orderby) from teachplan
        where parentid=#{parentId} and course_id=#{courseId}
    </select>

    <select id="selectMinOrderby" resultType="java.lang.Integer">
        select min(orderby) from teachplan
        where parentid=#{parentId} and course_id=#{courseId}
    </select>
</mapper>
